-e .
-e ./dowel
-e ./garaged[mujoco]
absl-py==0.13.0
aim==2.1.6
aimrecords==0.0.7
aiohttp==3.7.4.post0
akro==0.0.8
anytree==2.8.0
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.9
attrs==21.2.0
base58==2.0.1
beautifulsoup4==4.9.3
better-exceptions==0.3.3
box2d-py==2.3.8
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
click==8.0.1
cloudpickle==1.3.0
cma==2.7.0
colorama==0.4.4
cycler==0.10.0
Cython==0.29.23
decorator==4.4.2
dm-tree==0.1.6
docker==5.0.0
fasteners==0.16.3
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
gast==0.4.0
gitdb==4.0.7
GitPython==3.1.18
glfw==2.1.0
google==3.0.0
google-auth==1.32.0
google-auth-oauthlib==0.4.4
google-pasta==0.2.0
grpcio==1.34.1
gym==0.17.2
h5py==3.1.0
idna==2.10
imageio==2.9.0
importlib-metadata==4.5.0
joblib==0.12.5
jsonschema==3.2.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
lockfile==0.12.2
Markdown==3.3.4
matplotlib==3.4.2
msgpack==1.0.2
mujoco-py==2.0.2.8
multidict==5.1.0
networkx==2.5.1
numpy==1.18.5
oauthlib==3.1.1
opencv-python==4.5.2.54
opt-einsum==3.3.0
Pillow==8.2.0
protobuf==3.17.3
psutil==5.8.0
py-spy==0.3.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyglet==1.5.0
pyparsing==2.4.7
pyrser==0.2.0
pyrsistent==0.17.3
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.4.1
ray==0.8.6
redis==3.4.1
requests==2.25.1
requests-oauthlib==1.3.0
robel==0.1.2
rsa==4.7.2
scikit-image==0.18.1
scikit-learn==0.24.2
scipy==1.7.0
setproctitle==1.2.2
six==1.15.0
sklearn==0.0
smmap==4.0.0
soupsieve==2.2.1
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorboardX==2.2
tensorflow==2.5.0
tensorflow-estimator==2.5.0
tensorflow-probability==0.13.0
termcolor==1.1.0
threadpoolctl==2.1.0
tifffile==2021.6.14
torch==1.7.1
torchvision==0.8.2
transforms3d==0.3.1
typing-extensions==3.7.4.3
urllib3==1.26.5
websocket-client==1.1.0
Werkzeug==2.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.4.1
